.row-header{
    /* 0px for up and bottom. aligned in middle for left and right */
    margin: 0px auto;
    padding: 0px;
}

.row-content{
    margin: 0px auto;
    padding: 0px; 
    border-bottom: 1px ridge;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}